<ResourceEditorSection>
    <HeaderContent>
        <strong>Environment variables</strong>
    </HeaderContent>
    <Actions>
        <FluentButton Appearance="Appearance.Neutral" Disabled="@Disabled" OnClick="AddVariable">
            Add variable
        </FluentButton>
    </Actions>
    <ChildContent>
        @foreach (var variable in Variables)
        {
            <div class="environment-row" @key="variable">
                <FluentTextField AriaLabel="Environment variable name"
                                 Disabled="@Disabled"
                                 @bind-Value="variable.Name" />
                <FluentTextField AriaLabel="Environment variable value"
                                 TextFieldType="@GetLiteralValueTextFieldType(variable.Name)"
                                 Disabled="@Disabled"
                                 @bind-Value="variable.Value" />
                <FluentButton Appearance="Appearance.Neutral"
                              Disabled="@Disabled"
                              OnClick="() => RemoveVariable(variable)">
                    Remove
                </FluentButton>
            </div>
        }
    </ChildContent>
</ResourceEditorSection>

@code {
    [Parameter, EditorRequired]
    public List<ApplicationEnvironmentVariableInput> Variables { get; set; } = [];

    [Parameter]
    public bool Disabled { get; set; }

    private void AddVariable() => Variables.Add(new());

    private void RemoveVariable(ApplicationEnvironmentVariableInput variable)
    {
        Variables.Remove(variable);
        if (Variables.Count == 0)
        {
            Variables.Add(new());
        }
    }

    private static TextFieldType GetLiteralValueTextFieldType(string? name) =>
        ResourceSettingDisplay.IsSensitiveLiteralName(name)
            ? TextFieldType.Password
            : TextFieldType.Text;
}
