@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name" dir="@GetTextDirection()">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["CloudShell.Host.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <FluentDesignTheme />
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js"]" type="module" async></script>
    <script src="@Assets["shell.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>

@code {
    private static string GetTextDirection() =>
        CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}
