<div class="resource-identity-fields">
    <label for="@ResourceIdInputId">@ResourceIdLabel</label>
    <FluentTextField Id="@ResourceIdInputId"
                     Value="@ResourceId"
                     ValueChanged="@ResourceIdChanged"
                     Disabled="@ResourceIdDisabled"
                     Placeholder="@ResourceIdPlaceholder" />
</div>

@code {
    [Parameter]
    public string ResourceIdInputId { get; set; } = "resource-id";

    [Parameter]
    public string ResourceIdLabel { get; set; } = "Name";

    [Parameter]
    public string? ResourceIdPlaceholder { get; set; }

    [Parameter]
    public bool ResourceIdDisabled { get; set; }

    [Parameter]
    public string? ResourceId { get; set; }

    [Parameter]
    public EventCallback<string?> ResourceIdChanged { get; set; }
}
